#actix #actix-nav, #actix #show {
    margin: 0 -20%;
}
#actix #actix-features, #actix #detail  {
    margin: 0 -10%;
}

#actix #actix-nav {
    display: flex;
    height: 3rem;
}

#actix #actix-nav .logo {
    width: 3rem;
    height: 3rem;
}

#actix #actix-nav .title {
    flex: 1;
    margin-left: 55%;
}

#actix #actix-nav .nav {
    display inline-block;
    font-size: 1.5rem;
    padding-left: 1rem;
}
#actix #show {
    background-image: url(https://raw.githubusercontent.com/actix/actix-website/master/static/img/jumbotron.jpg);
    background-size: cover;
    text-align: center;
    padding: 1rem 11rem;
    margin-top: 0.5rem;
}
#actix #show img {
    width: 70%;
    height: 70%;
}

#actix #show #word {
    color: #ffffff;
    font-size: 1.5rem; 
}

#actix #actix-features {
    display: flex;
}

#actix #actix-features .left {
    padding-right: 0.6rem;
}
#actix #actix-features .left .feature {
    font-size: 1.2rem;
    font-weight: bold;
}

#actix #actix-features .right {
    flex: 1;
    width: 61%;
}
