#tokio {
    margin: 0 -20%;
}

#tokio #tokio-nav {
    display: flex;
    height: 2rem;
    margin-top: 3rem;
    padding: 0.5rem 1rem 1rem;
    background: linear-gradient(315deg,  #8FCDFF 0%,  #8FCDFF 100%);
}

#tokio #tokio-nav .logo {
    width: 3rem;
    height: 3rem;
}

#tokio #tokio-nav .title {
    flex: 1;
    margin-left: 55%;
}

#tokio #tokio-nav .nav {
    display inline-block;
    font-size: 1.5rem;
    padding-left: 1rem;
}
#tokio #tokio-nav .nav  a {
    color: #7B463D;
}

#tokio #show {
    display: flex;
    padding: 1rem 0;
}
#tokio #show img {
    width: 70%;
}

#tokio #show .left {
    padding-right: 3rem;
}

#tokio #show .left h1, #tokio #show .left p, #tokio #show .left a {
    padding: 0 2rem;
}
#tokio #show .left p {
    font-size: 1.5rem; 
}
#tokio #show .left a {
    font-size: 1.2rem
    font-weight: bold;    
}

#tokio .features {
    display: flex;
    padding: 1rem 0;
}

#tokio .features .left, #tokio .features .center {
    padding-right: 1rem;
}